@import '~global_styles';

.Prices {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  @include px(40px);

  &__h2 {
    @include fonts(regularHeader)
  }

  .Price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;

    &__right {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-right: 250px;

      >.Price__pb {
        @include fonts(regular-bold)
      }

      >.Price__p {

        @include fonts(regular)
      }
    }

    &__left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      >.Price__pb {
        @include fonts(regular-bold)
      }

      >.Price__p {
        @include fonts(regular)
      }
    }
  }
}