@import "../variables/varaibles";

@mixin breakpoint($point) {
  @if $point == screen1600 {
    @media (max-width: 1600px) {
      @content;
    }
  } @else if $point == screen1280 {
    @media (max-width: 1280px) {
      @content;
    }
  } @else if $point == screen1024 {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point == screen960 {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $point == screen768 {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == screen640 {
    @media (max-width: 640px) {
      @content;
    }
  } @else if $point == screen480 {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == screen320 {
    @media (max-width: 320px) {
      @content;
    }
  }
}

@mixin smart-breakpoint($point) {
  @media (max-width: $point) {
    @content;
  }
}

@mixin fonts($set) {
  @if $set == panel {
    font-weight: getFont(weight, bold);
    color: getColor(font, main);
    @include interpolation-fonts(getFont(size, sm));
  } @else if $set == superHeader {
    font-weight: getFont(weight, bold);
    color: getColor(font, base);
    @include interpolation-fonts(getFont(size, lx), $x1600:1, $x1280:2.6, $x1024:4, $x960: 5);
  } @else if $set == regularHeader {
    font-weight: getFont(weight, bold);
    color: getColor(font, base);
    @include interpolation-fonts(getFont(size, lg), $x1600:1, $x1024:1.5, $x960:2.1);
  } @else if $set == regular {
    font-weight: getFont(weight, normal);
    color: getColor(font, base);
    @include interpolation-fonts(getFont(size, md));
  } @else if $set == regular-bold {
    font-weight: getFont(weight, bold);
    color: getColor(font, base);
    @include interpolation-fonts(getFont(size, md));
  }
}


@mixin interpolation-fonts($fontSize,
    $x0:0,
    $x1600:$x0,
    $x1280:$x1600,
    $x1024:$x1280,
    $x960:$x1024,
    $x768:$x960,
    $x640:$x768,
    $x480:$x640,
    $x320:$x480,
) {
  font-size: calc($fontSize * pow(0.9, $x0));
  @include breakpoint(screen1600) {
    font-size: calc($fontSize * pow(0.9, $x1600));
  }
  @include breakpoint(screen1280) {
    font-size: calc($fontSize * pow(0.9, $x1280));
  }
  @include breakpoint(screen1024) {
    font-size: calc($fontSize * pow(0.9, $x1024));
  }
  @include breakpoint(screen960) {
    font-size: calc($fontSize * pow(0.9, $x960));
  }
  @include breakpoint(screen768) {
    font-size: calc($fontSize * pow(0.9, $x768));
  }
  @include breakpoint(screen640) {
    font-size: calc($fontSize * pow(0.9, $x640));
  }
  @include breakpoint(screen480) {
    font-size: calc($fontSize * pow(0.9, $x480));
  }
  @include breakpoint(screen320) {
    font-size: calc($fontSize * pow(0.9, $x320));
  }
}

@mixin px($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin py($value) {
  padding-top: $value;
  padding-bottom: $value;
}